*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    align-items: center;
    background-color: #f7f7f7;
    font-family: 'Comfortaa', cursive;
}

header{
    height: 100vh;
    display: flex;
    flex-direction: column;

}

nav{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.midleNav{
    width: 90vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 32%;
    padding-top: 5vh;
}

.rightNav{
    position: fixed;
    width: 25vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 4vh;
    padding-right: 4vh;
}
.rightNav img {
    width: 1.6rem;
    
}

/* #juiceVideo{
    z-index: -1;
    position: absolute;
    min-width: 100%;
    min-height: 100%;

} */

.slider{
    margin-top:3%;
    /* z-index: -1; */
    width: 700px;
    height: 500px;
    overflow: hidden;
    align-self: center;
    margin-left: -8%;
}
.slides{
    width: 300%;
    height: 500px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.slides input{
    display: none;
}
.slide{
    width: 20%;
    transition: 2s;
    background-position: center;
    background-size: cover;
    height: 480px;
    margin: 0% 0.4% 2% 0%;
}

.juice1{
    background-image: url(img/juice1.png);
}
.juice2{
    background-image: url(img/juice2.png);
    
}
.juice3{
    background-image: url(img/juice3.png);
   
}
.juice4{
    background-image: url(img/juice4.png);
    
}

nav a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 1rem;
}

.leftNav{
    margin-top: 17vh;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 10%;
}

.leftNav button{
    width: 50%;
    padding: 25px 0px;
    font-size: 0.7rem;
    background: transparent;
    font-family: Comfortaa, cursive;
    border: 1px solid  #c7d542;
    margin-bottom: -1px;
    border-radius: 0px 10px 10px 0px;
    font-weight: bold;
}

.lines{
    font-weight: bolder;
}

header h1{
    margin-top: 15vh;
    margin-bottom: -5vh;
    font-family: 'Antonio', sans-serif;
    font-size: 2.5rem;
    align-self: center;
}

.order{
    margin-top: 0%;
    width: 27vh;
    padding: 0.5% 0%;
    font-size: 95%;
    background: transparent;
    border: 1px solid #000000;
    border-radius: 5px;
    align-self: center;
    font-family: Comfortaa, cursive;
    font-weight: bold;
}

.navegationManual{
    position: absolute;
    width: 800px;
    margin-left: 0.5%;
    margin-top: -35px;
    display: flex;
    justify-content: center;
}


.manualBtn{
    border: 1px solid black;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manualBtn:not(:last-child){
    margin-right: 30px;
}

.manualBtn:hover{
    background: rgb(86, 184, 73);
}

#radio1:checked ~ .first{
    margin-left: 0;
}
#radio2:checked ~ .first{
    margin-left: -40.5%;
}
#radio3:checked ~ .first{
    margin-left: -81%;
}
#radio4:checked ~ .first{
    margin-left: -122%;
}